/* style.css */

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: fit-content;
  background: linear-gradient(
    to top,
    #0a9396,
    #2e9c9b,
    #43a4a0,
    #55ada5,
    #65b6aa,
    #7abdaa,
    #8ec4ac,
    #a1caaf,
    #bad0b3,
    #d0d5bc,
    #e0dcc9,
    #ece4d9
  );
  background-attachment: fixed;
  color: #f1ebe5;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0 0;
}

.subtitle {
  font-size: 2em;
  margin: 5px;
  color: #f1ebe5;
}

h1 {
  font-size: 3em;
  margin: 0px;
}

.milky {
  text-transform: uppercase;
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
  font-weight: bold;
  text-align: center;
}

#intro {
  margin: auto;
  color: #f1ebe5;
  width: 80%;
}

#container,
#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#container {
  max-width: 800px;
  height: 100%;
  justify-content: space-between;
}

#title {
  justify-content: center;
  height: 25%;
  margin: 15px 0;

}

#phrase {
  width: 80%;
  height: 20%;
  font-style: italic;
}

#box {
  display: flex;
  flex-direction: column;
  background: transparent;
  height: 240px;
  width: 600px;
  padding: 30px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #0000003a, -1px -1px 6px #0000001f;
}

#name {
  font-size: 2em;
  margin: auto;
  text-shadow: 0 2px 9px #005f73, 0px -2px 1px #fff;
  font-weight: bold;
  text-align: center;
  color: #f1ebe5;
}

p {
  font-size: 1.1em;
  color: #005f73;
}

input {
  background: #f1ebe5;
}

input,
button {
  padding: 10px;
  margin: 0 2px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

input[type="submit"],
button {
  background: linear-gradient(
    to top,
    #004452,
    #004c5c,
    #005566,
    #005d70,
    #00667a
  );
  color: #94d2bd;
  font-weight: bold;
  font-size: 1em;
}

input::placeholder {
  font-weight: bold;
  color: #0a9396;
  font-size: 1.1em;
}

form {
  margin: 10px 0;
}

#reset {
  margin: 15px 0;
}

footer {
  font-size: 0.8em;
  color: #005f73;
  font-weight: bold;
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  #box {
    width: 450px;
  }
}
@media only screen and (max-width: 600px) {
  #box {
    width: 350px;
  }
}
@media only screen and (max-width: 560px) {
  #box {
    box-shadow: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1ebe5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7abdaa;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7abdaa;
}
